/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #333;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #333;
  background-image: url("../images/bg.png");
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% bottom;
  background-attachment: fixed;
}

.cover-container {
  max-width: 50em;
}



.masthead-brand {
  font-size: 50px;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
}

.logodiv {
  padding-bottom: 10px;
}

.logo {
  height: 200px;
}

.about {
  font-family: Bookman Old Style;
}

/*
 * Footer
 */
.mastfoot {
  padding-top: 30px;
  color: #333;
}
